GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
HEADER_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/AFNetworking" "${PODS_ROOT}/Headers/Public/ContentfulDeliveryAPI" "${PODS_ROOT}/Headers/Public/ContentfulPersistence" "${PODS_ROOT}/Headers/Public/ISO8601DateFormatter"
OTHER_CFLAGS = $(inherited) -isystem "${PODS_ROOT}/Headers/Public" -isystem "${PODS_ROOT}/Headers/Public/AFNetworking" -isystem "${PODS_ROOT}/Headers/Public/ContentfulDeliveryAPI" -isystem "${PODS_ROOT}/Headers/Public/ContentfulPersistence" -isystem "${PODS_ROOT}/Headers/Public/ISO8601DateFormatter"
OTHER_LDFLAGS = $(inherited) -ObjC -l"Pods-ContentfulSeedDatabase-AFNetworking" -l"Pods-ContentfulSeedDatabase-ContentfulDeliveryAPI" -l"Pods-ContentfulSeedDatabase-ContentfulPersistence" -l"Pods-ContentfulSeedDatabase-ISO8601DateFormatter" -framework "CoreData" -framework "CoreServices" -framework "Security" -framework "SystemConfiguration"
OTHER_LIBTOOLFLAGS = $(OTHER_LDFLAGS)
PODS_ROOT = ${SRCROOT}/Pods